---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
---
<MainLayout title="Niji">
	<article class="flex items-center justify-center flex-col mt-10">
		<header class="mb-14">
			<img class=" md:max-w-3xl" src="/Banner4.png" alt="">
		</header>

		<section>
			<ul class="font-exo space-y-5">

				<li>
					<a href="nijiida.etsy.com" class="shadow-md grid grid-cols-2 bg-[#FFE6F5] px-8 py-2 rounded-full hover:bg-[#E1FED6]">
					<p class="text-[#FF319E] text-xl self-end">Webshop
					</p>
					<img class="w-9 justify-self-end" src="/shop.png" alt="">
					
					</a>
				</li>

				<li>
					<a href="https://www.instagram.com/niji.ida/" class=" shadow-md grid grid-cols-2 bg-[#FFE6F5] px-8 py-2 rounded-full hover:bg-[#E1FED6]">
					<p class="text-[#FF319E] text-xl self-end">Instagram</p>
					<img class="w-9 justify-self-end" src="/ig.png" alt="">

					</a>
				</li>
				
			


				<li>
					<a href="https://www.tiktok.com/@niji.ida" class=" shadow-md grid grid-cols-2 bg-[#FFE6F5] px-8 py-2 rounded-full hover:bg-[#E1FED6]">
					<p class="text-[#FF319E] text-xl self-end">Tiktok</p>
					<img class="w-9 justify-self-end" src="/tiktok.png" alt="">

					</a>
				</li>


				<li>
					<a href="mailto:niji.ida@hotmail.com" class=" shadow-md grid grid-cols-2 bg-[#FFE6F5] px-8 py-2 rounded-full hover:bg-[#E1FED6]">
					<p class="text-[#FF319E] text-xl self-end">Mail</p>
					<img class="w-9 justify-self-end" src="/mail.png" alt="">

					</a>
				</li>

			</ul>
		</section>	
	</article>
	<footer class="text-[#FF319E] font-exo content-end  text-xs flex justify-center mt-11">Made by Niji.ida</footer>


</MainLayout>

